header {
  text-align: center;
  font-size: 42px;
  text-shadow: 2px 2px 7px #111111;
  background-color: #F98975;
  height: 170px;
  width: 1255px;s
  border-radius: 5px;
}

/* Transition Thingy on Header Box Attempt

body {
  color: #fff;
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

.border {
  background: #2db34a;
  border-radius: 6px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear;
  width: 1259px;
}
.border:hover {
  background-color: #A9BF86;
  background: #ff7b29;
  border-radius: 50%;
}
 End Attempt Transition thingy here */


#first-salmon {
  position: left;
  display: inline;
}

#pat{
  font-size: 42px;
  margin: 20px 170px -100px 550px;
  width: 20%;
  float: left;
  display: inline;
}

#second-salmon {
  position: right;
  width: 15%;
  float: left;
  margin: 0px 0px 0px 740px;
  display: inline;
  }

/* Main Page Background Color */
body  {
  /*background-color: #F7924E; */
  background-color: #A9BF86;
}

/* Header Arrangement of jpg's & text */
.first-salmon {
    padding-right: 780px;
}

.second-salmon {
  padding-left: 780px;
  postion: relative:

}

body section li {
  color: black;
}

li {
  color: black;
}

table {
  width: 400px;
}
th. td {
  padding: 7px 10px 10px 10px;
}
th{
  text-align: center;
}






/* Black Borders Around <p> Tags */ body article p {   border: 5px solid black;
border-radius: 0px;   padding: 5px;   background-color: #F86348;   margin-left:
24px; }

/* Fade In On Hover */

.fade
{
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}

/* Inset Border */
.border:hover
{
  box-shadow: inset 0 0 0 25px #53a7ea;
}

#hours {
  text-shadow: 2px 2px 7px #111111;
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

#locations {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

a:link {
  color: black;
}
a:active {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}

/* JPEG Sizing */
#shirt {
  width: 30%;
}
#patSalmon {
  width: 30%;
}
#family {
  width: 30%;
  margin-left: 800px;
  margin-top; -800px;
}

#shirt {
  color: black;
  font-size: 33px;
}



/*Two Salmon.jpg boxes that spin */
.spin {
  color: #5FF6F4;
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin: 12px 15px;
}
.original,
.box {
  border-radius: 6px;
}
.original {
  background: #5FF6F4;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}
.box {
  background: #5FF6F4;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
.spin {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin:hover {
    animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-1 {
  transform: rotate(20deg);
}
.box-2 {
  transform: rotate(-55deg);
}



#pat-salmon {
  margin-left: 400px;
}
/*  pat-salmon.jpg spin */
body {
  color: #fff;
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin: 12px 15px;
}
.original,
.box {
  border-radius: 6px;
}
.original {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}
.box {
  background: #2db34a;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
.salmon-spin {
  cursor: pointer;
  transform-style: preserve-3d;
}
.salmon-spin:hover {
    animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-1 {
  transform: perspective(200px) translateZ(-50px);
}
.box-2 {
  transform: perspective(200px) translateZ(50px);
}

/* Attempt at a Caesar Type Animation on Cookie.jpg */
.salmon-cookie:hover{
  margin-left: 600px;
}
.salmon-cookie.opacity {
    opacity: 0;
}

.salmon-cookie.style {
  margin-left: 620px;
  transition: all 800ms cubic-bezier(0.500, 0.250, 0.500, 0.750);

}

/* Links in Footer */
#links {
  text-indent: 825px;
  font-size: 22px;
}
#people {
  color: black;
  max-width: 400px;
  margin-left: 775px;
  font-size: 16px;
}


